
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  // border: 1px solid rgb(158, 157, 157);
  // height: 97vh;
  // height: 100vh;
  border-radius: 3px;
  // height: 100vh !important;

}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.center {
  width: 80%;
  height: 100%;
}
.App-title {
  margin: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(220, 216, 216);
}

.final {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) {
  .container {
    max-width: 310px;
    justify-content: center;
  }
}

@media (min-width: 374px) {
  .container {
    max-width: 354px;
    justify-content: center;
  }
}

@media (min-width: 410px) {
  .container {
    max-width: 390px;
    justify-content: center;
  }
}
@media (min-width: 450px) {
  .container {
    max-width: 440px;
    justify-content: center;
  }
}
@media (min-width: 460px) {
  .container {
    max-width: 440px;
    justify-content: center;
  }
}
@media (min-width: 490px) {
  .container {
    max-width: 470px;
    justify-content: center;
  }
}
@media (min-width: 500px) {
  .container {
    max-width: 480px;
    justify-content: center;
  }
}
@media (min-width: 540px) {
  .container {
    max-width: 520px;
    justify-content: center;
  }
}
@media (min-width: 550px) {
  .container {
    max-width: 540px;
    justify-content: center;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 570px;
    justify-content: center;
  }
}
@media (min-width: 650px) {
  .container {
    max-width: 640px;
    justify-content: center;
  }
}
@media (min-width: 680px) {
  .container {
    max-width: 670px;
    justify-content: center;
  }
}
@media (min-width: 700px) {
  .container {
    max-width: 690px;
    justify-content: center;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 710px;
    justify-content: center;
  }
}

@media (min-width: 730px) {
  .container {
    max-width: 710px;
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .container {
    max-width: 745px;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 748px;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .container {
    justify-content: center;
    max-width: 780px;
  }
}
@media (min-width: 900px) {
  .container {
    justify-content: center;
    max-width: 880px;
  }
}
@media (min-width: 950px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

// @media (min-width: 1100px) {
//   .container {
//     max-width: 1050px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     max-width: 1100px;
//   }
// }
// @media (min-width: 1300px) {
//   .container {
//     max-width: 1250px;
//   }
// }
