.setting {
    width: 100%;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.loading {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}